@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    background-color: #E2F7FF;
    height: 100px;
    
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
}

header p {
    font-family: "Rubik Bubbles";
    font-size: 44px;
    margin-right: 55%;
}

header a {
    color: #90CAE0;
    text-decoration: none;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0px;
    margin: 0;
    align-items: center;
}

header ul li {
    margin-left: 30px;
}

header ul li a {
    color: #90CAE0;
    text-decoration: none;
    font-family: "Pretendard";
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    header {
        padding: 15px 40px;
    }

    header p {
        font-size: 24px; 
    }

    header ul {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    header p {
        font-size: 20px;
    }

    header ul {
        font-size: 14px;
    }
}